:root {
  font-family: monospace, Arial, Helvetica, sans-serif;
}

#projects {
  box-sizing: border-box;
  height: 700px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: lightblue;
  display: flex;
  flex-direction: row;
}

#projects-list {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-pane {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plan {
    background: lightsalmon;
}   
#today {
    background: lightgreen;
}
#future {
    background: lightblue;
}
#overdue {
    background: lightcoral;
}
#done {
    background-color: lightseagreen;
}

.board {
    background: lightcyan;
    width: 205px;
    height: 630px;
}