/*@font-face {
    font-family: Freda;
    src: url("../resources/Freda.ttf")
  }

  :root {
    font-family: "Freda", monospace, Arial, Helvetica, sans-serif;
    color: #ffffff;
  }
  
  h2 {
    font-weight: normal;
    text-decoration: underline;
  }
  
  #projects {
    box-sizing: border-box;
    height: 700px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: url("../resources/chalk.jpg");
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 0;
  }
  
  #projects-list {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .work-pane {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  #plan {
    background: lightsalmon;
  }
  #today {
    background: lightgreen;
  }
  #future {
    background: lightblue;
  }
  #overdue {
    background: lightcoral;
  }
  #done {
    background-color: lightseagreen;
  }
  
  .board {

    width: 205px;
    height: 630px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: scroll;
  }
  
  .task {
    color: #000000;
    line-height: 1;
    padding-top: 5px;
    text-align: center;
    width: 160px;
    min-height: 160px;
    max-height: 160px;
    position: relative;
    font-size: 15px;
    border-bottom-right-radius: 60px 5px;
    display: inline-block;
    background: linear-gradient(
      135deg,
      #ffff88 81%,
      #ffff88 82%,
      #ffff88 82%,
      #ffffc6 100%
    );
  }
  #project-test-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .individual_project {
    font-size: 25px;
  }

*/

@font-face {
  font-family: 'AppFont';
  src: url('./resources/WOFF2.woff2') format('woff2'),
  url('./resources/WOFF.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

div {
  background: lightblue;
  font-family: 'AppFont', Helvetica, Arial, sans-serif;
  font-size: xxx-large;
}